@model eTickets.Models.Actor
@*@model List<Actor>*@
@*@{
    ViewData["Title"] = "Home Page";
}*@

@ViewData["title"]

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

        <div class="">
            <form asp-action="create">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Bio">Bio</label>
                    <input asp-for="Bio" /><br />
                    <span asp-validation-for="Bio" style="color:red"></span>
                </div>
        <div>
            <label asp-for="ProfilePictureURL">Bio</label>
            <input asp-for="ProfilePictureURL" /><br />
            <span asp-validation-for="ProfilePictureURL" style="color:red"></span>
        </div>
        <div>
            <label asp-for="Name">Bio</label>
            <input asp-for="Name" /><br />
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
                <div>
                    <input type="submit" value="Register" />
                </div>
            </form>
            @*<table class="table table-responsive" id="actor_table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Profile Image</th>
                </thead>
                <tbody>
                    @foreach(var data in Model)
                    {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.Name</td>
                        <td>@data.Id</td>
                    </tr>
                    }
                </tbody>
            </table>*@
        </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    var js = jQuery.noConflict(true);
    js(document).ready(function(){
        js("#actor_table").DataTable();
    })
</script>
